<!--display all blogz -->

{% extends "base.html" %}

{% block content %}
    <h1>Blogz Main Page!</h1>
    <form method='post'>

        Blog Title:
        
        <label>
          </div>
      <div class="col-75">
        <input type="text" id="btitle" name="blog_name" placeholder="Your blog..">
      </div>
    </div>

	 <div class="row">
      <div class="col-25">
        <label for="blog">Write Your Blog!</label>
      </div>
      <!--
      
      -->
      <div class="col-75">
        <textarea id="blog" name="new_blog" placeholder="Write something.." style="height:200px"></textarea>          
      
        </div>
    </div>

    <div class="row">
      <input type="submit" value="Add Blog">
    </div>
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <h2>Posted Blogz</h2>
    <p>No blogs yet</p>
    {% else %}
<!--
<hr />

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    -->

    <hr />

    <h2></h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}