<!--display all blogz -->

{% extends "base.html" %}

{% block content %}
    <h1>Blogz Main Page!</h1>
    <form method='post'>

        Blog Title:
        
        <label>
      <div class="col-75">
        <input type="text" name="blog">
      </div>
    </div>

	 <div class="row">
      <div class="col-25">
        <label for="blog">Write Your Blog!</label>
      </div>
      <div class="col-75">
        <textarea name="nblog" placeholder="Write something.." style="height:200px"></textarea>          
      
        </div>
    </div>

    <div class="row">
      <input type="submit" value="Add Blog">
    </div>
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <h2>Posted Blogz</h2>
    <p>No blogs yet</p>
    {% else %}

<hr />

        <div>
            {% for blog in blogs %}
            <div class="blog-post">
            <h2>{{blog.name}}</h2>
            <section>{{blog.post}}</section>
            </div>
            {% endfor %}
        </div>

    {% endif %}



    <hr />

    <div>
        {% for blog in posted_blogs %}
        <h2>{{blog.name}}</h2>
        <section>{{blog.post}}</section>
        {% endfor %}
    </div>

{% endblock %}